In [3]:
#Import the required libraries 
import pandas as pd

In [10]:
#Import the advertising dataset
df_adv_data = pd.read_csv('Advertising.csv', index_col=0)

In [11]:
#View top 5 records 
df_adv_data.head()

   TV($)  Radio($)  Newspaper($)  Sales($)
1  230.1      37.8          69.2      22.1
2   44.5      39.3          45.1      10.4
3   17.2      45.9          69.3       9.3
4  151.5      41.3          58.5      18.5
5  180.8      10.8          58.4      12.9

In [21]:
#view the dataset size
df_adv_data.shape

(200, 4)

In [12]:
#View the columns of the dataset 
df_adv_data.columns

Index(['TV($)', 'Radio($)', 'Newspaper($)', 'Sales($)'], dtype='object')

In [13]:
#Create a feature object from the columns
X_feature = df_adv_data[['TV($)', 'Radio($)', 'Newspaper($)']]

In [14]:
X_feature.head()

   TV($)  Radio($)  Newspaper($)
1  230.1      37.8          69.2
2   44.5      39.3          45.1
3   17.2      45.9          69.3
4  151.5      41.3          58.5
5  180.8      10.8          58.4

In [16]:
#Create the target object from sales column, which is a response in the dataset
Y_target = df_adv_data[['Sales($)']]

In [18]:
#View the target object
Y_target

     Sales($)
1        22.1
2        10.4
3         9.3
4        18.5
5        12.9
..        ...
196       7.6
197       9.7
198      12.8
199      25.5
200      13.4

[200 rows x 1 columns]

In [19]:
#View the feature object's shape
X_feature.shape

(200, 3)

In [20]:
#View target object's shape
Y_target.shape

(200, 1)

In [27]:
#Split testing and training data 
#By default, 75% is training data and 25% is testing data 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_feature, Y_target, random_state=1)

In [30]:
#View shape of train and test datasets for both feature and response 
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(150, 3)
(150, 1)
(50, 3)
(50, 1)

In [32]:
#Linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train, y_train)

LinearRegression()

In [34]:
#Print the intercept and coefficients
print(linreg.intercept_)
print(linreg.coef_)

[2.87696662]
[[0.04656457 0.17915812 0.00345046]]

In [36]:
#Prediction
y_pred = linreg.predict(x_test)
y_pred

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

In [42]:
#Imported required libraries for calculating MSE (mean squared error )
from sklearn import metrics
import numpy as np

ImportError: cannot import name 'metricse' from 'sklearn' (/opt/anaconda3/lib/python3.9/site-packages/sklearn/__init__.py)

In [43]:
#Calculate the mean squared error (MSE)
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

1.4046514230328957

In [46]:
print('True', y_test.values[0:10])
print()
print('Pred', y_pred[0:10])

True [[23.8]
 [16.6]
 [ 9.5]
 [14.8]
 [17.6]
 [25.5]
 [16.9]
 [12.9]
 [10.5]
 [17.1]]

Pred [[21.70910292]
 [16.41055243]
 [ 7.60955058]
 [17.80769552]
 [18.6146359 ]
 [23.83573998]
 [16.32488681]
 [13.43225536]
 [ 9.17173403]
 [17.333853  ]]

In [72]:
#Import package
import statsmodels.api as sm

In [84]:
#Redefine terms for linear regression summary
x = df_adv_data[['TV($)', 'Radio($)', 'Newspaper($)']]
y = df_adv_data[['Sales($)']]

In [75]:
#Provide data and transform outputs
x, y = np.array(x), np.array(y)

In [76]:
#Add additional column to one of the inputs to calculate intercept
x = sm.add_constant(x)

In [77]:
#Create a regression model based on ordinary least squares 
model = sm.OLS(y, x)

In [78]:
#Model fit
results = model.fit()

In [82]:
#Results of linear regression 
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     570.3
Date:                Wed, 08 Jun 2022   Prob (F-statistic):           1.58e-96
Time:                        10:44:40   Log-Likelihood:                -386.18
No. Observations:                 200   AIC:                             780.4
Df Residuals:                     196   BIC:                             793.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.9389      0.312      9.422      0.000       2.324       3.554
x1             0.0458      0.001     32.809      0.000       0.043       0.049
x2             0.1885      0.009     21.893      0.000       0.172       0.206
x3            -0.0010      0.006     -0.177      0.860      -0.013       0.011
==============================================================================
Omnibus:                       60.414   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.241
Skew:                          -1.327   Prob(JB):                     1.44e-33
Kurtosis:                       6.332   Cond. No.                         454.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.